/* .body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(images/bw\ bg.png);
    width: 100%;
    background-size: 1200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #FAF9F8;
    /* opacity: 0.5; */
}
.home{
    font-family: 'Assistant', sans-serif;
    /* font-weight: 550; */
    background:rgba(255,255,255, 0.6);   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 92px;
    font-weight: 300;
}

nav ul li{
    /* right: 20px; */
    list-style: none;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px 0;
    /* transition: 0.5s; */
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #1E3706, #68d106);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.cart{
    cursor: pointer;
}
.btn2{
    width: 150px;
    font-size: 20px;
    padding: 4px;
    /* margin-top: 40px; */
    font-family: 'Assistant', sans-serif;
    color: white;
    /* background: #1E3706; */
    border-radius: 23px;
    cursor: pointer;
    font-weight: 550;
    transition: 0.5s;
    color: black;
    border: none;
    background: white;
    transition: 0.5s;
}
.btn2:hover{
    background: #009579;
    color: white;
}

nav ul li a:hover::after{
    width: 100%;
}
.home p{
    margin-left: 110px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
/* -------------------cart-------------------------- */

.small-container{
    font-family: 'Assistant', sans-serif;
    font-size: 19px;
}
.cart-page{
    margin: 50px 150px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.heading{
    margin: 100px;
}
/* .banana{
    width: 30%;
} */
.cart-info{
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
}
th{
    text-align: left;
    padding: 15px;
    color: white;
    background-color: #009579;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
th:hover{
    color: black;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:red;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}
td a:hover{
    color: black;
}
td img{
    width: 24%;
    /* height: 80px;     */
    margin-right: 10px;
}
.grapes{
    width: 24%;
    height: 10%;
}
.wheat{
    /* height: 10px; */
    /* image-resolution: 20px; */
    width: 153px;
    height: 138px;
    margin-left: 40px;
}

#wheat{
    margin-left: 30px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #009579;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.small-container{
    background:rgba(255,255,255, 0.4);   
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cart-info p{
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.5s;
}
.cart-info p:hover{
    transform: translateX(10px);
    color: #009579;
}
.input{
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #009579;
}
.input:hover{
    background-color: #009579;
    color: white;
}